#content{
	.contact_mapContent{
		text-align:center;
		h1{
			font-size:26px;
			margin-top:150px;
			margin-bottom: 40px;
			color:#32357e;
			font-weight: bold;
		}
		h2{
			margin:30px 0 10px;
			font-size:14px;
			font-weight:bold;
		}
		p{
			font-size:14px;
			height:30px;
			line-height: 30px;
			color:#656565;
		}
		#container{
			margin-top:20px;
			height:370px;
			width:1100px;
		}
	}
}