#aboutUs { padding: 70px 0 80px; }

#aboutUs h1 { margin: 90px 0 50px; text-align: center; font-size: 26px; color: #32357e; font-weight: bold; }

#aboutUs p { font-size: 14px; color: #656565; text-indent: 2em; line-height: 28px; }

#aboutUs img { margin: 10px 0; }
